parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Readonly property .* is assigned outside of its declaring class#'
        - '#Method .*::fromArray\(\) should return static\(.*\) but returns .*#'
        - '#Access to an undefined property .*ResponseInterface::\$items#' 